<div class="container">
  <!--  <nz-switch [(ngModel)]="loading"></nz-switch>-->

  <div class="cat-header">
    <h3>{{ list.categoryName }}</h3>
    <nz-icon nzType="holder" nzTheme="outline" cdkDragHandle />
  </div>
  <div
    cdkScrollable
    [cdkDropListAutoScrollStep]="15"
    class="drag-list"
    cdkDropList
    [id]="list.id"
    [cdkDropListData]="list.items"
    [cdkDropListConnectedTo]="connectedLists"
    (cdkDropListDropped)="drop2($event)"
  >
    @for (data of list.items; track data) {
      <nz-card cdkDrag [nzLoading]="loading">
        <nz-card-meta
          [nzTitle]="cardTitle"
          [nzDescription]="cardDesc"
        ></nz-card-meta>
        <nz-card *cdkDragPreview>
          <nz-card-meta [nzDescription]="cardDesc2"></nz-card-meta>
        </nz-card>
      </nz-card>
      <ng-template #cardDesc>
        <div class="item-content">
          <div>
            <div class="ingredients">
              <h3>مواد اولیه:</h3>
              <p>{{ data.ingredients }}</p>
            </div>
            <div class="price">{{ data.price }}</div>
          </div>
          <div class="item-image">{{ data.picUrl }}</div>
        </div>
      </ng-template>
      <ng-template #cardTitle>
        <div class="header">
          <h4>{{ data.name }}</h4>
          <!--          <nz-icon-->
          <!--            nzType="more"-->
          <!--            nz-dropdown-->
          <!--            [nzDropdownMenu]="menu1"-->
          <!--            nzPlacement="bottomRight"-->
          <!--          />-->
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomRight"
            nzTrigger="click"
          >
            <nz-icon nzType="more" />
          </button>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>ویرایش آیتم</li>
              <li nz-menu-item>انتقال به دسته‌بندی</li>
              <li nz-menu-item style="color: #f23939 !important">
                حذف از دسته‌بندی
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </ng-template>
      <ng-template #cardDesc2>
        <h4>khl</h4>
        <img ngSrc="/assets/icons/User.svg" alt="" height="44" width="44" />
        <div class="price">{{ data.price }}</div>
      </ng-template>
    }

    <button nz-button nzType="primary" class="add-item-btn">
      <nz-icon nzType="plus" />
      اضافه کردن آیتم جدید به دسته‌بندی
    </button>
  </div>
</div>
