<div class="container">
  <div class="search-add-item">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="جست‌و‌جو کنید" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="search" />
    </ng-template>
    <button nz-button nzType="primary" class="add-item-btn">
      <nz-icon nzType="plus" />
      افزودن آیتم جدید
    </button>
    <button nz-button [routerLink]="'items'" nzType="text" class="go-items-btn">
      مشاهده تمامی آیتم‌ها
      <img
        ngSrc="/assets/icons/RoundArrowLeft.svg"
        alt=" "
        height="16"
        width="16"
      />
    </button>
  </div>
</div>
