@use "sass:color";

:root {
  --base-font-size: 87.5%;
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 100%;
  }
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: Peyda, Vazirmatn, sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: #1c375e;
  font-weight: bold;
}

.ant-menu::after {
  display: none;
}

.ant-menu::before {
  display: none;
}

.ant-card-body {
  padding-inline: 0.8rem !important;
  padding-block: 0.8rem !important;
}

*::-webkit-scrollbar {
  width: 0;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

*:hover::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

.anticon.anticon-profile,
.ant-menu-title-content,
.ant-menu-submenu-arrow,
.ant-menu-submenu-open:hover {
  color: #f1eae1 !important;
}

.ant-menu-submenu-selected {
  background-color: transparent !important;
}

.ant-menu-title-content,
.ant-menu-submenu-title {
  color: #f1eae1 !important;
}

.ant-menu-submenu:hover,
.ant-menu-item:hover {
  .ant-menu-title-content,
  .ant-menu-submenu-arrow {
    color: #f1eae1 !important;
  }
}

.ant-menu-submenu {
  color: #243e62 !important;
}

.ant-menu > .ant-menu-item-selected:not(.submenu),
.ant-menu > .ant-menu-item-selected nz-icon:not(.submenu),
.ant-menu > .ant-menu-item-selected span:not(.submenu),
.ant-menu > .ant-menu-submenu-selected:not(.submenu) {
  color: #243e62;
  background-color: #f1eae1 !important;
  border-radius: 4px;
}

.ant-menu-submenu-popup {
  background-color: #1d385e !important;

  .ant-menu {
    background-color: #1d385e !important;

    .ant-menu-item {
      color: #f1eae1 !important;

      &:hover {
        background-color: color.adjust(#1d385e, $lightness: 10%) !important;
      }
    }
  }
}

.ant-menu-submenu > .ant-menu {
  background-color: #1d385e !important;
}

nz-sider:not(.ant-layout-sider-collapsed) {
  .ant-menu-item-selected {
    background-color: #f1eae1 !important;
    border-radius: 4px !important;

    span,
    nz-icon {
      color: #243e62 !important;
    }
  }

  .ant-menu-submenu-title {
    color: #f1eae1 !important;

    &:hover {
      color: #fff !important;
    }
  }
}

.ant-menu-submenu-popup .ant-menu-item-selected {
  background-color: #f1eae1 !important;
  border-radius: 4px !important;

  span,
  nz-icon {
    color: #243e62 !important;
  }
}

.ant-form-item-required::before {
  display: none !important;
}

.highlight {
  background-color: rgba(140, 140, 110, 0.5);
  border-radius: 4px;
  padding-inline: 2px;
  font-weight: bold;
}
