/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Peyda, Vazirmatn, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  color: #1c375e;
  font-weight: bold;
}

.ant-menu::after {
  display: none;
}

.ant-menu::before {
  display: none;
}

.ant-card-body {
  padding-inline: 0.8rem !important;
  padding-block: 0.8rem !important;
}
