// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Customize the button styles globally
:root {
  @include mat.button-overrides(
    (
      container-color: orange,
      label-text-color: red,
    )
  );
}

.the-dense-zone {
  @include mat.form-field-density(-10);
}

:root {
  @include mat.table-overrides(
    (
      background-color: orange,
      header-headline-color: red,
    )
  );
}

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$menuchi-app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: Peyda,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($menuchi-app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($menuchi-app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($menuchi-app-theme);
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "MyCustomFont";
  src: url("/assets/fonts/Peyda-Regular.ttf") format("ttf");
}

.dense-2 {
  @include mat.all-component-densities(-4);
}

html,
body {
  height: 100%;
  direction: rtl;
  //text-align: right;
  font-family: Peyda, Vazirmatn, serif;
  --mdc-filled-button-container-color: #546fff;
  --mat-app-primary: #546fff;
  --mdc-checkbox-selected-icon-color: #546fff;

  .mat-mdc-text-field-wrapper {
    //height: 2.5rem;
  }
}

body {
  margin: 0;
}
