<p>draggable-table works!</p>
<nz-table
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  [nzData]="listOfData"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  nzBordered
  nzShowPagination
>
  <thead>
    <tr>
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>نام</th>
      <th>دسته‌بندی</th>
      <th>قیمت</th>
      <th>مواد تشکیل دهنده</th>
      <th>تصویر</th>
      <th></th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    @for (data of listOfData; track data) {
      <tr cdkDrag>
        <td
          [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.address }}</td>
        <td type="flex" align="middle">
          <nz-icon nzType="picture" nzTheme="outline" />
        </td>
        <td type="flex" align="middle">
          <nz-icon nzType="edit" nzTheme="outline" />
        </td>
      </tr>
    }
  </tbody>
</nz-table>
