form {
  nz-form-label {
    span {
      font-weight: 500;
    }
  }

  .ant-form-item {
    margin-bottom: 0.8rem !important;
  }

  .ant-form-item-label {
    padding-bottom: 0 !important;
  }

  .toman-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #243e62;
    color: #fff;
    height: 2.5rem !important;
    width: 4rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
}
