<nz-modal
  nzWidth="22rem"
  [nzStyle]="{ top: '2rem' }"
  [(nzVisible)]="isVisible"
  [nzTitle]="isEditMode ? 'ویرایش آیتم' : 'ایجاد آیتم جدید'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzContent]="modalContent"
  [nzFooter]="null"
>
  <ng-template #modalContent>
    <form
      nz-form
      [formGroup]="validateForm"
      nzLayout="vertical"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label nzFor="itemName" nzRequired>نام آیتم</nz-form-label>
        <nz-form-control nzErrorTip="نام آیتم نمی‌تواند خالی باشد.">
          <input
            id="itemName"
            nz-input
            formControlName="itemName"
            placeholder="مثال: قورمه سبزی"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>دسته‌بندی</nz-form-label>
        <nz-form-control
          [nzValidateStatus]="validateForm.controls['category']"
          nzErrorTip="دسته‌بندی نمی‌تواند خالی باشد."
        >
          <nz-select
            id="category"
            formControlName="category"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="یک دسته‌بندی انتخاب کنید"
            style="width: 100%"
            [nzDisabled]="categorySelected != null || isEditMode"
          >
            @for (cat of categories; track cat.categoryId) {
              <nz-option
                [nzLabel]="cat.name"
                [nzValue]="cat.categoryId"
              ></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="price" nzRequired>قیمت</nz-form-label>
        <nz-form-control
          [nzValidateStatus]="validateForm.controls['price']"
          nzErrorTip="قیمت نمی‌تواند خالی باشد."
        >
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input
              id="price"
              type="number"
              nz-input
              formControlName="price"
              placeholder="مثال: ۲۷۶,۰۰۰"
            />
          </nz-input-group>
          <ng-template #suffixButton>
            <span tabindex="-1" class="toman-btn"> تومان </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ingredients" nzRequired>
          مواد تشکیل‌دهنده
        </nz-form-label>
        <nz-form-control nzErrorTip="لطفاً مواد را وارد کنید.">
          <nz-textarea-count [nzMaxCharacterCount]="200">
            <textarea
              id="ingredients"
              formControlName="ingredients"
              nz-input
              rows="3"
              placeholder="مثال: سبزی، لوبیا، گوشت، لیمو امانی..."
              maxlength="200"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>تصویر آیتم</nz-form-label>
        <nz-form-control [nzValidateStatus]="validateForm.controls['image']">
          <app-upload-box
            formControlName="image"
            id="image"
            style="width: 100%"
          ></app-upload-box>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-block-start: 1rem">
        <nz-form-control>
          <button nz-button nzType="primary" style="width: 100%">
            {{ isEditMode ? "ذخیره تغییرات" : "ایجاد" }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
