<div class="container">
  <div class="search-add-item">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="جست‌و‌جو کنید" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="search" />
    </ng-template>
    <button nz-button nzType="primary" (click)="showModal()">
      <nz-icon nzType="plus" />
      افزودن آیتم جدید
    </button>
  </div>

  <app-items-table></app-items-table>

  <button nz-button nzType="primary" nzDanger>
    <nz-icon nzType="delete"></nz-icon>
    حذف موارد انتخاب شده
  </button>

  <app-add-item></app-add-item>
</div>
