.content {
  margin-inline: 1.5rem;
  padding-inline: 4rem;
  background-color: #ffffff;
  border-radius: 10px;
  --mat-table-background-color: #fff;
  --mat-paginator-container-background-color: #fff;
  --mdc-filled-button-container-shape: 4px;
  --mdc-outlined-text-field-outline-color: #e2e8f0;
  --mdc-outlined-text-field-label-text-color: #aaaaaa;
  //--mat-app-elevation-shadow-level-8: 0;

  .search-add-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .search {
      width: 77% !important;
    }

    button {
      width: 22% !important;
    }
  }

  .tablee {
    table {
      a,
      a:visited {
        text-decoration: none;
        color: #546fff;
      }

      a:hover {
        color: #aaaaaa;
      }
      .mat-column-select,
      .mat-column-edit {
        width: 1rem;
      }

      .mat-column-image {
        width: 3rem;
      }
    }

    mat-paginator {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .items-table {
    table {
      width: 100%;
    }

    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }

    td,
    th {
      width: 25%;
    }
  }
}
