:host ::ng-deep {
  .ant-upload-list-picture .ant-upload-list-item {
    &-error {
      border-color: #ff4d4f !important;
    }

    &-done {
      border-color: #52c41a !important;
    }
  }

  /* Style for the upload box (keep it neutral) */
  .ant-upload.ant-upload-drag {
    border-color: #d9d9d9;

    &:hover {
      border-color: #1890ff;
    }
  }
}
