.persian-week-calendar {
  direction: rtl;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f8f9fa;

  h2 {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
  }
}

.today-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 10px auto;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;

  &:hover {
    background-color: #3e8e41;
  }
}

.week-days-header {
  display: flex;
  gap: 0.4rem;

  .day-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
    font-weight: bold;
    color: #252525;
    background-color: #8c8c6e;
    height: 5.2rem;
    width: 4rem;
    max-width: 4rem;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    &.selected {
      background-color: #8c8c6e;
    }

    span {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      padding-inline: 0.8rem;
      font-size: 1rem;
      font-weight: 600 !important;
    }
  }
}

.week-grid {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.day-cell {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: -0.5rem;
  width: 4rem;
  max-width: 4rem;

  &:hover {
    background-color: #f8f9fa;
  }

  .day-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #243e62;
    color: #ffffff;
    border-radius: 50%;
    padding-block-start: 0.4rem;
  }

  &.today {
    background-color: #8c8c6e;
  }

  &.selected {
    background-color: #d0ebff;

    .day-number {
      font-weight: bold;
      color: #1971c2;
    }
  }

  &:not(.current-month) {
    .day-number {
      color: #adb5bd;
      opacity: 0.7;
    }

    .day-voltage {
      font-size: 0.8rem;
      color: #495057;
      font-weight: bold;
      opacity: 0.5;
    }
  }
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #e9ecef;
  }
}
