<div class="persian-week-calendar">
  <div class="calendar-header">
    <button class="nav-button prev-button" (click)="previousWeek()">
      <img src="/assets/icons/Backlog.svg" alt="هفته قبل" />
    </button>

    <div class="month-title">
      <span class="month-name">{{ getPersianMonth() }}</span>
      <span class="year">{{ getPersianYear() }}</span>
    </div>

    <button class="today-button" (click)="today()">
      <img src="/assets/icons/User.svg" alt="امروز" />
      امروز
    </button>

    <button class="nav-button next-button" (click)="nextWeek()">
      <img src="/assets/icons/Home-white.svg" alt="هفته بعد" />
    </button>
  </div>

  <div class="week-days-header">
    <div class="day-header" *ngFor="let day of getPersianWeekDays()">
      {{ day.short }}
    </div>
  </div>

  <div class="week-grid">
    <div
      class="day-cell"
      *ngFor="let day of getPersianWeekDays(); let i = index"
      [class.today]="getDayInfo(i).isToday"
      [class.selected]="isSelected(getDayInfo(i).date)"
      [class.current-month]="getDayInfo(i).isCurrentMonth"
      (click)="selectDate(getDayInfo(i).date)"
    >
      <div class="day-number">{{ getDayNumber(getDayInfo(i).date) }}</div>
      <div
        class="day-voltage"
        *ngIf="getVoltage(getDayInfo(i).date) as voltage"
      >
        {{ voltage }}V
      </div>
    </div>
  </div>
</div>
