<div class="container">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="side-menu">
        <div>
          <div class="logo">
            <img
              ngSrc="/assets/menuchi-logo-white.svg"
              alt="logo"
              height="52"
              width="70"
            />
          </div>
          <ul nz-menu nzMode="inline">
            <li nz-menu-item>
              <nz-icon nzType="home" />
              <span>صفحه اصلی</span>
            </li>
            <li nz-submenu nzTitle="مدیریت منو" nzIcon="profile" class="hiii">
              <ul class="hiii">
                <li nz-menu-item>ایجاد منوی جدید</li>
                <li nz-menu-item>منوهای ساخته شده</li>
              </ul>
            </li>
            <li nz-menu-item>
              <nz-icon nzType="product" />
              <span>بک‌لاگ</span>
            </li>
            <li nz-menu-item>
              <nz-icon nzType="setting" />
              <span>تنظیمات</span>
            </li>
            <li nz-menu-item>
              <nz-icon nzType="logout" />
              <span>خروج</span>
            </li>
          </ul>
        </div>
        <div class="trigger" (click)="isCollapsed = !isCollapsed">
          <span
            nz-icon
            [nzType]="!isCollapsed ? 'double-right' : 'double-left'"
          >
          </span>
          @if (!isCollapsed) {
            <span>بستن سایدبار</span>
          }
        </div>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <!--        <span-->
        <!--          class="trigger"-->
        <!--          nz-icon-->
        <!--          [nzType]="!isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
        <!--          (click)="isCollapsed = !isCollapsed"-->
        <!--        ></span>-->

        <div class="header">
          <h1>آیتم‌های غذایی</h1>
          <div class="header-icons">
            <nz-icon nzType="bell" nzTheme="outline" />
            <nz-icon nzType="user" nzTheme="outline" />
          </div>
        </div>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>کاربر</nz-breadcrumb-item>
          <nz-breadcrumb-item>بیل</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
          <div class="search-add-item">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="جست‌و‌جو کنید" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <nz-icon nzType="search" />
            </ng-template>
            <button nz-button nzType="primary">
              <nz-icon nzType="plus" />
              افزودن آیتم جدید
            </button>
          </div>

          <app-items-table></app-items-table>

          <button nz-button nzType="primary" nzDanger>
            <nz-icon nzType="delete"></nz-icon>
            حذف موارد انتخاب شده
          </button>
        </div>
      </nz-content>
      <nz-footer>اینجا فوتره</nz-footer>
    </nz-layout>
  </nz-layout>
</div>
