.inner-content {
  padding: 1.5rem 3rem;
  background: #fff;
  min-height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .search-add-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    > button {
      width: 14rem;
    }
  }

  > button {
    align-self: end;
  }
}
