.container {
  display: flex;
  height: 100vh;

  .search-add-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  nz-layout,
  nz-footer {
    background-color: #f7f7f7 !important;
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #546fff;
    }
  }

  .logo {
    height: 32px;
    background: rgb(236, 236, 236);
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nz-header {
    //background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 1rem;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 1.5rem 3rem;
    background: #fff;
    min-height: 360px;
    border-radius: 10px;
  }

  nz-footer {
    text-align: center;
  }
}
