<div class="cart-content">
  <nz-typography class="item-number">
    <p nz-typography>
      <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
      {{ orders.length > 0 ? getTotalItemCount() : (0 | persianNumber) }} محصول
    </p>
  </nz-typography>
  <div class="items-section">
    <nz-list nzSize="small" class="items-list">
      @for (order of orders; track order.id) {
        @for (item of order.orderItems; track item.id) {
          <nz-list-item>
            <app-cart-item
              [item]="mapOrderItemToItem(item)"
              [quantity]="itemQuantities[item.id]"
              (quantityChange)="onQuantityChange($event)"
            ></app-cart-item>
          </nz-list-item>
        }
      } @empty {
        <nz-list-item>
          <div class="item">
            <nz-typography>
              <p nz-typography>سبد خرید شما خالی است.</p>
            </nz-typography>
          </div>
        </nz-list-item>
      }
    </nz-list>
    <nz-card class="total-section">
      <nz-typography>
        <h3 nz-typography class="total-content">
          <span class="total-label">مجموع</span>
          <span class="total-amount"
            >{{ getTotalPrice() | persianPrice }} تومان</span
          >
        </h3>
      </nz-typography>
    </nz-card>
  </div>
  <button class="order-btn" nz-button nzType="primary">
    ثبت سفارش
    <nz-icon nzType="caret-left" />
  </button>
</div>
