<nz-table
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzData]="listOfData"
  [nzShowPagination]="true"
  [nzFrontPagination]="true"
  [nzPageSize]="pageSize"
  [nzPageSizeOptions]="pageSizeOptions"
  [nzShowSizeChanger]="true"
  nzBordered
>
  <thead>
    <tr>
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th [nzSortFn]="sortName" nzShowSort>نام</th>
      <th [nzSortFn]="sortCategory">دسته‌بندی</th>
      <th [nzSortFn]="sortPrice">قیمت</th>
      <th>مواد اولیه</th>
      <th>تصویر</th>
      <th>ویرایش</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    @for (data of listOfCurrentPageData; track data.id) {
      <tr cdkDrag>
        <td
          [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        @if (!editCache[data.id].edit) {
          <td>{{ data.name }}</td>
          <td>{{ data.categoryName }}</td>
          <td>{{ data.price | persianPrice }}</td>
          <td>{{ data.ingredients | truncate }}</td>
          <td type="flex" align="middle">
            <nz-icon
              (click)="showImage(data.picUrl)"
              nzType="picture"
              nzTheme="outline"
            />
          </td>
          <td type="flex" align="middle">
            <div class="edit-icons">
              <nz-icon
                (click)="startEdit(data.id)"
                nzType="edit"
                nzTheme="outline"
                class="edit"
              />
              <nz-icon
                nz-popconfirm
                nzPopconfirmTitle="آیا شور هستی؟"
                (nzOnConfirm)="deleteRow(data.id)"
                nzType="delete"
                nzTheme="outline"
                class="delete"
              />
            </div>
          </td>
        } @else {
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.name"
            />
          </td>
          <td>
            <nz-select
              [(ngModel)]="editCache[data.id].data.categoryName"
              nzShowSearch
              style="width: 100%"
            >
              @for (cat of categories; track cat.id) {
                <nz-option
                  [nzLabel]="cat.name"
                  [nzValue]="cat.name"
                ></nz-option>
              }
            </nz-select>
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.price"
            />
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.ingredients"
            />
          </td>
          <td type="flex" align="middle">
            <nz-icon nzType="picture" nzTheme="outline" />
          </td>
          <td>
            <div class="edit-icons">
              <nz-icon
                class="small-icon"
                (click)="saveEdit(data.id)"
                nzType="check"
                nzTheme="outline"
              />
              <nz-icon
                nz-popconfirm
                nzPopconfirmTitle="آیا شور هستی؟"
                (nzOnConfirm)="cancelEdit(data.id)"
                class="small-icon"
                nzType="close"
                nzTheme="outline"
              />
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</nz-table>
