.container {
  display: flex;

  nz-layout,
  nz-footer {
    background-color: #f7f7f7 !important;
  }

  nz-content {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .inner-content {
      padding: 1.5rem 3rem;
      background: #fff;
      min-height: 360px;
      border-radius: 10px;
    }
  }

  nz-sider {
    font-weight: 500;
    padding-inline: 1rem;

    .side-menu {
      .ant-menu-item,
      .ant-menu-submenu {
        color: #f1eae1;
      }

      ul {
        background-color: #1d385e;

        li > span {
          color: #f1eae1;
        }
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;

      .logo {
        margin: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .trigger {
        align-self: center;
        padding-block-end: 1rem;
        color: #f1eae1;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;
        gap: 1rem;
        position: fixed;
        bottom: 0.2rem;

        &:hover {
          color: #fff;
        }
      }

      .help-center {
        margin-block-start: 13rem;
        margin-block-end: 1rem;
        justify-self: end;
        width: 10rem !important;
      }
    }
  }

  nz-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
    padding-block: 2.6rem;
    margin-block-end: 1.4rem;

    .trigger2 {
      display: none;
      position: fixed;
      top: 4rem;
      right: 4rem;
      border-radius: 50%;
      padding-inline: 0.4rem;
      padding-block: 0.4rem;
      font-size: 1.4rem;
      cursor: pointer;
      background-color: rgba(28, 39, 76, 0.8);
      color: #6e6e6e;

      &:hover {
        color: #1c274c;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-inline-end: 1rem;

      h1 {
        margin-block: 0;
      }

      .header-icons {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;

        img {
          cursor: pointer;
          color: #8c8c6e;
          border-radius: 50%;
          transition: background-color 0.4s ease;

          &:hover {
            background-color: rgba(140, 140, 110, 0.1);
          }
        }
      }
    }
  }

  nz-footer {
    text-align: center;
  }
}

//.ant-menu > .ant-menu-item:hover,
//.ant-menu > .ant-menu-submenu:hover,
//.ant-menu > .ant-menu-item-open,
//.ant-menu > .ant-menu-submenu-open,
//.ant-menu > .ant-menu-item-active,
//.ant-menu > .ant-menu-submenu-active {
//  color: red;
//  background-color: blueviolet;
//}

.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-item-selected nz-icon,
.ant-menu > .ant-menu-item-selected span,
.ant-menu > .ant-menu-submenu-selected {
  color: #243e62;
}

.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  background-color: #f1eae1;
  border-radius: 4px;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-color: transparent;
}

.button {
  span,
  nz-icon {
    color: #f1eae1;
  }
}

.activebutton {
  background-color: #f1eae1;
  border-radius: 4px;

  span,
  nz-icon {
    color: #243e62;
  }
}

.ant-menu-rtl.ant-menu-inline,
.ant-menu-rtl.ant-menu-vertical {
  border: none !important;
}
