<div class="container">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="side-menu">
        <div>
          <div class="logo">
            <img
              src="/assets/menuchi-logo-white.svg"
              alt="logo"
              [height]="isCollapsed ? 37 : 52"
              [width]="isCollapsed ? 50 : 70"
            />
          </div>
          <ul nz-menu nzMode="inline">
            <li
              nz-menu-item
              routerLink="/manage"
              routerLinkActive="activebutton"
              [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page"
            >
              <nz-icon nzType="home" nzTheme="outline" />
              <span>صفحه اصلی</span>
            </li>
            <li
              nz-submenu
              nzTitle="مدیریت منو"
              nzIcon="profile"
              class="bg-color-prim"
            >
              <ul class="bg-color-prim">
                <li
                  nz-menu-item
                  routerLink="/manage/menu"
                  routerLinkActive="activebutton"
                  ariaCurrentWhenActive="page"
                >
                  ایجاد منوی جدید
                </li>
                <li nz-menu-item>منوهای ساخته شده</li>
              </ul>
            </li>
            <li
              nz-menu-item
              class="button"
              routerLink="/manage/cats"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page"
            >
              <nz-icon nzType="product" nzTheme="outline" />
              <span>بک‌لاگ</span>
            </li>
            <li nz-menu-item>
              <nz-icon nzType="setting" nzTheme="outline" />
              <span>تنظیمات</span>
            </li>
            <li nz-menu-item>
              <nz-icon nzType="logout" nzTheme="outline" />
              <span>خروج</span>
            </li>
          </ul>
        </div>
        <div class="trigger" (click)="isCollapsed = !isCollapsed">
          <span
            nz-icon
            [nzType]="!isCollapsed ? 'double-right' : 'double-left'"
          >
          </span>
          @if (!isCollapsed) {
            <span>بستن سایدبار</span>
          }
        </div>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger2"
          nz-icon
          [nzType]="isCollapsed ? 'left' : 'right'"
          (click)="isCollapsed = !isCollapsed"
        ></span>

        <div class="header">
          <h1>{{ pageTitle }}</h1>
          <div class="header-icons">
            <img
              ngSrc="/assets/icons/Notification.svg"
              alt="notif"
              height="44"
              width="44"
            />
            <img
              ngSrc="/assets/icons/User.svg"
              alt="user"
              height="44"
              width="44"
            />
          </div>
        </div>
      </nz-header>
      <nz-content>
        <app-breadcrumb></app-breadcrumb>
        <div class="inner-content">
          <router-outlet />
        </div>
      </nz-content>
      <!--      <nz-footer>اینجا فوتره</nz-footer>-->
    </nz-layout>
  </nz-layout>
</div>
