<div class="container">
  <div *ngIf="menu" class="search-pre-container">
    <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
      <input
        id="search"
        type="text"
        nz-input
        placeholder="نام منو را وارد کنید"
        [(ngModel)]="menu.name"
        (ngModelChange)="onNameChange()"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="edit" />
    </ng-template>

    <button
      class="preview-btn"
      nz-button
      nzType="primary"
      [routerLink]="['/dashboard/preview', menuId]"
      *ngIf="menuId"
    >
      پیش‌نمایش منو
      <nz-icon>
        <object
          data="/assets/icons/Eye-white.svg"
          type="image/svg+xml"
        ></object>
      </nz-icon>
    </button>
  </div>

  <div
    class="all-menus-container"
    cdkDropList
    cdkScrollable
    [cdkDropListAutoScrollStep]="25"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="cylinders"
    (cdkDropListDropped)="onListDropped($event)"
  >
    <div *ngFor="let cylinder of cylinders" cdkDrag class="menu-container">
      <app-cylinder
        [weekDays]="getWeekDaysString(cylinder)"
        [panels]="cylinder.menuCategories"
        [menuId]="menuId"
        (itemDropped)="onItemDropped($event)"
        (addItemWithCategory)="openModalForCategory($event)"
      ></app-cylinder>

      <button
        nz-button
        nzType="primary"
        class="add-cat-btn"
        (click)="showDrawer(cylinder.id)"
      >
        <nz-icon nzType="plus" />
        اضافه کردن دسته‌بندی
      </button>
    </div>

    <div class="add-new-menu" (click)="openDaysModal()">
      <nz-icon nzType="plus" />
    </div>
  </div>
</div>

<app-select-days-modal
  [menuId]="menuId"
  [selectedDays]="existingDays"
></app-select-days-modal>
<app-select-items-drawer
  [menuId]="menuId"
  [cylinderId]="selectedCylinderId"
  (submitted)="handleDrawerSubmit($event)"
></app-select-items-drawer>
