<div class="container">
  <div class="search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        id="search"
        type="text"
        nz-input
        placeholder="نام منو را وارد کنید"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="edit" />
    </ng-template>
  </div>

  <div
    class="all-menus-container"
    cdkDropList
    cdkScrollable
    [cdkDropListAutoScrollStep]="25"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="cylinders"
    (cdkDropListDropped)="onListDropped($event)"
  >
    <div *ngFor="let cylinder of cylinders" cdkDrag class="menu-container">
      <app-cylinder
        [weekDays]="getWeekDaysString(cylinder)"
        [panels]="cylinder.menuCategories"
        [menuId]="menuId"
        (itemDropped)="onItemDropped($event)"
        (addItemWithCategory)="openModalForCategory($event)"
      ></app-cylinder>
      <button
        nz-button
        nzType="primary"
        class="add-cat-btn"
        (click)="showDrawer()"
      >
        <nz-icon nzType="plus" />
        اضافه کردن دسته‌بندی
      </button>
    </div>

    <div class="add-new-menu" (click)="openDaysModal()">
      <nz-icon nzType="plus" />
    </div>
  </div>
</div>

<app-select-days-modal [menuId]="menuId"></app-select-days-modal>
<app-select-items-drawer></app-select-items-drawer>
